<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My web GO</title>
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
            integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
            crossorigin="anonymous">
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
            rel="stylesheet">
        <style type="text/css">
	*{
		font-family: 'Montserrat', sans-serif;
	}
	input{		
		padding:3px 6px;
		outline:none;
		margin-bottom:10px;
		border:1px solid orangered;
	}
	div{
		color:orangered;
	}
	button{
		padding:3px 10px;
	}
	main{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}
	#nombres {
		float: right;
		margin-left: 20px;
		border: 1px solid orangered;
		border-radius: 6px;
		min-width: 150px;
	}
</style>
        <script type="text/javascript">
	window.onload=inicio;
	
	function inicio(){
		let botones=document.getElementsByClassName("boton0");
		for(let i =0;i<botones.length;i++){
			if(i==0)
				botones[i].input="nombre";
			else if(i==1)
				botones[i].input="nombre4";
			else if(i==2)
				botones[i].input="nombre5";
			botones[i].onclick=lista;
		}	
		// document.querySelector("button").onclick=lista;
		document.querySelector("#nombre").onkeydown=teclado;
	}
	function teclado(parametro){
		let codigoDeTecla=parametro.keyCode;
		if (codigoDeTecla==13){
			lista();
		}
	}
	function lista(){
		let input=document.getElementById(this.input);
		let nombre = input.value.trim();
		let nombre_mejorado=(nombre.substr(0,1)).toUpperCase()+(nombre.substr(1)).toLowerCase();
		if (nombre.length>0){
			document.querySelector("#nombres").innerHTML += `<div>${nombre_mejorado}</div>`;	
		}
		input.focus();
		input.value="";
		if (this.ancho==45)
			alert("Hola");
	}
</script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                            role="button" data-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else
                                here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search"
                        placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0"
                        type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Mi primera página web con GO</h1>
                <p class="lead">Hola soy {{ .Name }} {{ .Skills }} y tengo {{
                    .Age }} años,
                    Bienvenido a mi pagina web con GO.</p>
            </div>
        </div>

        <main>
            <div id="caja">
                <input id="nombre" placeholder="Escribe tu nombre"
                    spellcheck="false" autofocus>
                <button class="boton0" ancho="45">Aceptar</button>
                <input id="nombre4" placeholder="Escribe tu nombre"
                    spellcheck="false" autofocus>
                <button class="boton0">Aceptar</button>
                <input id="nombre5" placeholder="Escribe tu nombre"
                    spellcheck="false" autofocus>
                <button class="boton0">Aceptar</button>
            </div>
            <div id="nombres"></div>
        </main>

    </body>
</html>